# This ensures `set -e` catches errors in some edge cases.
enable=check-extra-masked-returns

# Even if a variable is currently safe to unquote, it's good habit and more
# future-proof to quote all variables consistently. It's also safer in case the
# code can be called from a context where `$IFS` is set to something unusual.
enable=quote-safe-variables

# `[[` is generally better than `[`. We should use it when possible.
enable=require-double-brackets

# Fix koalaman/shellcheck#1678.
disable=SC3003

# Disable warnings that try to correct `$variable[...]` into `${variable[...]}`
# even though that's never the intention.
disable=SC1087
